.navbar-container {
  height: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding: 18px;
  justify-content: space-between;
}
.dark-navbar {
  background-color: #212121;
}
.light-navbar {
  background-color: #ffffff;
}
.logo-url {
  width: 90px;
  height: 4vh;
}
.sun {
  color: #ffffff;
  font-size: 23px;
}
.profile {
  width: 25px;
  height: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
@media screen and (max-width: 991px) {
  .profile {
    display: none;
  }
}
.moon {
  font-size: 23px;
}
.icons-container {
  display: flex;
}
.theme-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  margin: 0px;
}
.popup-container {
  height: 90vh;
}
@media screen and (min-width: 992px) {
  .ham-popup-container {
    display: none;
  }
}
